/* index.css */
@import "tailwindcss";
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

button {
  cursor: pointer;
}

input,
button {
  margin-bottom: 10px;
}

input:focus {
  border-color: #4a90e2;
  outline: none;
}
